<%- include('header') -%>
<%- include('menu') -%>

<section id="main">
    <div class="container pt-3">
        <h2>Állat módosítása</h2>
        <form method="POST">
            <input type="hidden" name="knowtheid" value="<%= allat._id %>">
            <div class="col-md-6 pt-2">
                <label for="inputName" class="form-label">Név</label>
                <input type="text" class="form-control" id="inputName" name="nev" value="<%= allat.nev %>">
            </div>
            <div class="col-md-6 pt-2">
                <label for="inputRace" class="form-label">Faj</label>
                <input type="text" class="form-control" id="inputRace" name="faj" value="<%= allat.faj %>">
            </div>
            <div class="col-md-6 pt-2">
                <label for="inputSpecies" class="form-label">Fajta</label>
                <input type="text" class="form-control" id="inputSpecies" name="fajta" value="<%= allat.fajta %>">
            </div>
            <div class="col-md-6 pt-2">
                <label for="inputAge" class="form-label">Kor</label>
                <input type="number" class="form-control" id="inputAge" name="kor" value="<%= allat.kor %>">
            </div>

            <div class="col-12 pt-2">
                <input type="submit" class="btn btn-primary btn-lg" value="Mentés"/>
                <a href="/allatok/<%= menhely._id %>" class="btn btn-danger btn-lg">Mégse</a>
            </div>
        </form>
    </div>


</section>

<%- include('footer') -%>